/* 펫 리스트 */
.pet-empty {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.pet-box {
	border-bottom: 1px solid #CCC;
	height: 245px;
	cursor: pointer;
}

.pet-img {
	padding: 20px;
	float: left;
}

.pet-box .pet-img, .pet-box .pet-content {
	display: inline-block;
}

.pet-box .pet-img img {
	width: 350px;
	height: 200px;
}

.pet-content {
	line-height: 40px;
	padding: 5px;
}

.select-box {
	display: inline;
}

.select-box select {
	width: 160px;
	height: 35px;
	font-size: 14px;
}

.pet-search-option .inline-block {
	display: inline-block;
}

.pet-search-option input, select {
	width: 200px;
	font-size: 14px;
}

.pet-search-option table, th, td {
	border: none !important;
}

.tab-left.on a, .tab-right.on a {
	color: black;
}

.tab-left, .tab-right {
	display: inline-block;
	border: 1px solid #CCC;
	padding: 10px 20px;
	width: 50%;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.tab-left.on, .tab-right.on {
	background: #ffd938;
	font-weight: 700;
}

.tab-left {
	float: left;
}

.tab-right {
	float: right;
}

.select-wrap {
	clear: both;
	position: relative;
	text-align: center;
	padding: 20px;
}

.pet-search-option div {
	padding: 2px 5px;
}

.pet-search-option .condition {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.pet-search-option {
	clear: both;
	height: 100%;
	text-align: center;
	border: 1px solid #CCC;
	border-top: none;
}

.pet-search-option div {
	display: inline-block;
}

button.pet-btn {
	background: #ffd938;
	border-color: #ffd938;
	color: black;
}

button.pet-btn:hover {
    background: #dfbf3a;
}

span.animal-kindCd {
    font-size: 24px;
}

.pet-img {
    height: 100%;
    width: 400px;
    background-size: 50% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

label.animal-info {
    width: 110px;
}