<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 <mapper namespace="com.project.mapper.FdocMapper">
	
	 
	 
	 <insert id="FdocInsert" parameterType="FdocVO">
	
	 	<selectKey keyProperty="doc_no" order="BEFORE" resultType="int">
	 	
	 	select nvl(max(doc_no),0) +1 from free_doc
	 	</selectKey>
		insert into free_doc values (#{doc_no},#{doc_email},#{doc_nick},#{doc_subject},#{doc_content},sysdate,#{doc_readcount},#{doc_expiry},#{doc_code},#{doc_price},#{doc_big},#{doc_kindof},#{doc_thumbnail},#{doc_loc},#{doc_comment})
	 
	 </insert>

	 <select id="getListCount" resultType="int">
			 
	 select count(*) from free_doc
	 
	 </select> 
	 
	 <select id="getFdocList" parameterType="hashmap" resultType="FdocVO">
	
	 <![CDATA[
	 select * from (select rownum rnum,doc_no,doc_nick,doc_subject,doc_content,doc_date,doc_readcount,doc_expiry,doc_code,doc_price,doc_big,doc_kindof,doc_thumbnail,doc_loc,doc_comment 
	 from (select * from free_doc order by doc_no desc)) where rnum>=#{startrow} and rnum<=#{endrow}
	 ]]>
	 
	 </select>
	 
	  <update id="setReadCountUpdate" parameterType="int">
	 
	 update free_doc set doc_readcount=doc_readcount+1 where doc_no=#{doc_no}
	 
	 </update>
	 
	 <select id="getView" parameterType="int" resultType="FdocVO">
	 
	 select * from free_doc where doc_no =#{doc_no}
	 
	 </select>
	 
	 
	 <!--  댓글  -->
	 
	 
	 <insert id="commentInsert" parameterType="FdocReflyVO">
	<selectKey keyProperty="fdoc_cno" order="BEFORE" resultType="int">
		SELECT NVL(max(fdoc_cno),0) +1 from fdoc_refly
	</selectKey>
		INSERT INTO fdoc_refly VALUES(#{fdoc_cno},#{doc_no},#{fdoc_cnick},sysdate,#{fdoc_ccontent},#{fdoc_csecret},#{fdoc_cno},#{fdoc_lev},#{fdoc_seq})	
	</insert>
	
	 <select id="commentList" parameterType="int" resultType="FdocReflyVO">
	 <!--  
		SELECT * FROM fdoc_refly WHERE doc_no = #{doc_no} order by fdoc_cno	
		
		select * from (select * from fdoc_refly Where doc_no = #{doc_no} order by fdoc_ref asc,fdoc_seq desc) order by fdoc_cno
		-->
		select * from (select * from fdoc_refly where doc_no = #{doc_no} order by fdoc_cno) order by fdoc_ref asc,fdoc_seq desc
	 </select>
	 
	  <update id="commentUpdate" parameterType="FdocReflyVO">
	 
		UPDATE fdoc_refly SET FDOC_CCONTENT = #{fdoc_ccontent},FDOC_CSECRET =#{fdoc_csecret} where FDOC_CNO = #{fdoc_cno}
		
	 </update>
	 
	 <delete id="commentDelete"  parameterType="FdocReflyVO">
	 
		DELETE FROM fdoc_refly WHERE FDOC_CNO = #{fdoc_cno}
	 	
	 </delete>
	 
	  <update id="commentReflyUpdate" parameterType="FdocReflyVO">
	 
	 	update fdoc_refly set fdoc_seq=fdoc_seq+1 where fdoc_ref = #{fdoc_ref} and fdoc_seq >#{fdoc_seq}
	
	 </update>
	 
	 <insert id="commentRefly" parameterType="FdocReflyVO">
	 
	 	<selectKey keyProperty="fdoc_cno" order="BEFORE" resultType="int">
	 	
	 	select nvl(max(fdoc_cno),0) +1 from fdoc_refly
	 	
	 	</selectKey>
	 
	 
	 	INSERT INTO fdoc_refly VALUES(#{fdoc_cno},#{doc_no},#{fdoc_cnick},sysdate,#{fdoc_ccontent},#{fdoc_csecret},#{fdoc_ref},#{fdoc_lev},#{fdoc_seq})
	 
	 </insert>
	 
	 <select id="getSearchCount" parameterType="FdocVO" resultType="int">
	 select count(*) from free_doc where doc_kindof in
	 <foreach collection="kind_search" item="kind_search" open="(" close=")" separator=",">
	 #{kind_search}
	 </foreach>
	 or doc_loc in
	 <foreach collection="kind_loc" item="kind_loc" open="(" close=")" separator=",">
	 #{kind_loc}
	 </foreach>
	 or doc_big in
	 <foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	 #{fdoc_search}
	 </foreach>
	 or doc_kindof in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	or doc_loc in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	 </select>
	 
	 <select id="getSearchList" parameterType="FdocVO" resultType="FdocVO">
	
	 select * from (select rownum rnum,doc_no,doc_nick,doc_subject,doc_content,doc_date,doc_readcount,doc_expiry,doc_code,doc_price,doc_big,doc_kindof,doc_thumbnail,doc_loc,doc_comment 
	 from (
	 select * from free_doc where doc_kindof in
	 <foreach collection="kind_search" item="kind_search" open="(" close=")" separator=",">
	 #{kind_search}
	 </foreach>
	 or doc_loc in
	 <foreach collection="kind_loc" item="kind_loc" open="(" close=")" separator=",">
	 #{kind_loc}
	 </foreach>
	 or doc_big in
	 <foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	 #{fdoc_search}
	 </foreach>
	 or doc_kindof in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	or doc_loc in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	 order by doc_no desc)) where rnum>=#{startrow} <![CDATA[and rnum<=#{endrow}]]>
	
	 
	 
	 </select>
	 
	
	 
	  <insert id="payInsert" parameterType="Myfree_doc_confirmVO">
	 
	 	INSERT INTO free_doc_confirm VALUES(#{confirm_no},#{confirm_fdoc_no},#{confirm_fdoc_s_email},#{confirm_fdoc_r_email},#{confirm_fdoc_code},#{confirm_fdoc_expiry},#{confirm_fdoc_price},sysdate,ADD_MONTHS(sysdate,#{confirm_fdoc_expiry}),NULL,#{confirm_fdoc_kindof},NULL)
	 
	 </insert>
	 
	 <update id="commentCount" parameterType="FdocReflyVO">
	 
	 	update FREE_DOC set doc_comment=doc_comment+1 where doc_no =#{doc_no}
	 	
	 </update>
	 
	 <delete id="FdocDelete"  parameterType="FdocVO">
	 
		DELETE FROM free_doc WHERE doc_no = #{doc_no}
	 	
	 </delete>
	 
	  <delete id="FdocDeleteComment"  parameterType="FdocVO">
	 
		DELETE FROM fdoc_refly WHERE doc_no = #{doc_no}
	 	
	 </delete>
	 
	 <select id="DeleteCount" parameterType="int" resultType="int">
			 
	 select count(*) from fdoc_refly where fdoc_ref =#{fdoc_cno}
	 
	 </select> 
	 
	  <update id="DeleteUpdate" parameterType="int">
	 
	 	update fdoc_refly set fdoc_lev=2 where fdoc_cno =#{fdoc_cno}
	 	
	 </update>
	 
	  <update id="FdocUpdate" parameterType="FdocVO">
	 
	 update free_doc set doc_subject=#{doc_subject},doc_content=#{doc_content},doc_expiry=#{doc_expiry},doc_price=#{doc_price},doc_big=#{doc_big},doc_kindof=#{doc_kindof},doc_thumbnail=#{doc_thumbnail},doc_loc=#{doc_loc} where doc_no=#{doc_no}
	 
	 </update>
	 
	  <update id="commentSub" parameterType="FdocReflyVO">
	 
	 	update FREE_DOC set doc_comment=doc_comment-1 where doc_no =#{doc_no}
	 	
	 </update>
	 
	  <update id="CodeUpdate" parameterType="Myfree_doc_confirmVO">
	 
		UPDATE FREE_DOC SET DOC_CODE = #{confirm_fdoc_code} where DOC_NO = #{confirm_fdoc_no}
		
	 </update>
	 
	  <select id="getConfirmCount" resultType="int">
			 
	 select count(*) from free_auth where fadoc_check = '인증완료'
	 
	 </select> 
	 
	 <select id="getConfirmList" parameterType="hashmap" resultType="ConfirmVO">
	
	 <![CDATA[
	 select * from (select rownum rnum,doc_no,fadoc_nick,fadoc_subject,fadoc_content,fadoc_date,fadoc_readcount,doc_comment,confirm_fdoc_img,fadoc_r_email
	 from (select * from free_auth,free_doc_confirm where confirm_no = fadoc_confirm_no and fadoc_check='인증완료' order by doc_no desc)) where rnum>=#{startrow} and rnum<=#{endrow}
	 ]]>
	 
	 </select>
	 
	  <update id="setReadCountConfirm" parameterType="int">
	 
	 update free_auth set fadoc_readcount=fadoc_readcount+1 where doc_no=#{doc_no}
	 
	 </update>
	 
	 <select id="getConfirmView" parameterType="int" resultType="ConfirmVO">
	 
	 select * from free_auth where doc_no =#{doc_no}
	 
	 </select>
	 
	 
	 
	 </mapper>