<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.project.mapper.MyfreeMapper">
	
	
	<!-- 프로필, 닉네임 조회 -->
	<select id="selectMember" parameterType="String" resultType="Member_listVO">
		SELECT * FROM member_list WHERE email=#{email}
	</select>
	
	
	<!-- 나의 책임분양 조회  피분양자 아이디로 검색 -->
	<select id="ConfirmListCount" resultType="int">
		select count(*) from free_doc_confirm WHERE confirm_fdoc_r_email=#{email}
	</select>
	
	<select id="selectConfirm" parameterType="HashMap" resultType="Myfree_doc_confirmVO">
		<![CDATA[
		SELECT * FROM (SELECT rownum rnum, confirm_no, confirm_fdoc_no, confirm_fdoc_s_email, confirm_fdoc_r_email, confirm_fdoc_code, 
			confirm_fdoc_expiry, confirm_fdoc_price, confirm_s_date, confirm_e_date, confirm_account, confirm_fdoc_kindof, confirm_fdoc_img
			from (SELECT * FROM free_doc_confirm where confirm_fdoc_r_email=#{email}))
			WHERE rnum>=#{startrow} and rnum<=#{endrow} 
		]]>
	</select>
	
	<!-- 책임 분양 인증 게시글 내역. 확정번호로 검색   --> 
	<select id="selectAuth" parameterType="String" resultType="Myfree_authVO">
		SELECT * FROM free_auth where fadoc_r_email=#{email} order by fadoc_date desc
	</select>
	
	<!-- 작성한 책임분양글 목록 조회  -->
	<select id="DocListCount" resultType="int">
		select count(*) from free_doc WHERE doc_email=#{email}
	</select>
	
	<select id="selectDoc" parameterType="HashMap" resultType="Myfree_docVO">
		<![CDATA[
		SELECT * FROM (SELECT rownum rnum, doc_no, doc_email, doc_nick, doc_subject, doc_content, doc_date, doc_readcount, doc_expiry, doc_code,
		doc_price, doc_big, doc_kindof, doc_thumbnail, doc_loc, doc_comment 
			from (SELECT * FROM free_doc where doc_email=#{email} order by doc_date desc))
			WHERE rnum>=#{startrow_doc} and rnum<=#{endrow_doc} 
		]]>
	</select>
	
	<!-- 환급계좌 입력 -->
	<update id="updateAccount" parameterType="Myfree_doc_confirmVO">
		UPDATE free_doc_confirm SET confirm_account=#{confirm_account, jdbcType=VARCHAR} WHERE confirm_no=#{confirm_no}
	</update>
	
	<!-- 환급계좌 삭제 -->
	<update id="deleteAccount" parameterType="Myfree_doc_confirmVO">
		UPDATE free_doc_confirm SET confirm_account=#{confirm_account, jdbcType=VARCHAR} WHERE confirm_no=#{confirm_no}
	</update>
	
	<!-- 확정번호가 일치하고 작성한 달이 일치하고 상태가 인증완료인 글의 개수 -->
	<select id="auth_ok_count" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) FROM free_auth WHERE fadoc_confirm_no=#{fadoc_confirm_no} 
			and substr(fadoc_date, 4, 2)=#{sys_month} and fadoc_check=#{auth_ok}
	</select>
	
	<!-- 확정번호가 일치하고 작성한 달이 일치하고 상태가 검토중인 글의 개수 -->
	<select id="auth_wait_count" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) FROM free_auth WHERE fadoc_confirm_no=#{fadoc_confirm_no} 
			and substr(fadoc_date, 4, 2)=#{sys_month} and fadoc_check=#{auth_wait}
	</select>
	
	<!-- 책임분양 인증글 작성창 띄우기 - 책임분양 인증현황 테이블 조회 -->
	<select id="selectConfirm_write" parameterType="String" resultType="Myfree_doc_confirmVO">
		SELECT * FROM free_doc_confirm WHERE confirm_no=#{confirm_no}
	</select>
	
	
	<!-- 책임분양 인증글 작성 -->
	<insert id="insertFree_auth" parameterType="Myfree_authVO">
		<selectKey keyProperty="doc_no" order="BEFORE" resultType="int">
			SELECT nvl(max(doc_no), 0)+1 FROM free_auth
		</selectKey>
			INSERT INTO free_auth VALUES (#{doc_no}, #{fadoc_r_email}, #{fadoc_confirm_no}, #{fadoc_s_email}, #{fadoc_subject}, 
							#{fadoc_content}, sysdate, #{fadoc_readcount}, #{fadoc_check}, #{fadoc_nick}, #{doc_comment})
	</insert>
	
	
	
	<!-- 책임분양 인증글 조회 -->
	<select id="selectAuth_view" parameterType="int" resultType="Myfree_authVO">
		SELECT * FROM free_auth WHERE doc_no=#{doc_no}
	</select>
	
	<select id="selectConfirm_view" parameterType="String" resultType="Myfree_doc_confirmVO">
		SELECT * FROM free_doc_confirm WHERE confirm_no=#{confirm_no}
	</select>
	
	<update id="setReadCountUpdate" parameterType="int">
		update free_auth set fadoc_readcount=fadoc_readcount+1 where doc_no=#{doc_no}
	</update>
	
	
	<!-- 책임분양 이미지 업로드 -->
	<update id="update_fdoc_img" parameterType="Myfree_doc_confirmVO">
		UPDATE free_doc_confirm SET confirm_fdoc_img=#{confirm_fdoc_img} WHERE confirm_no=#{confirm_no}
	</update>
	
</mapper>



